<script>
    window.onload = function() {
        google.script.run.withSuccessHandler(populateHTMLwith).getHeader();
        google.script.run.withSuccessHandler(showData).getData();
    }

    function refresh() {
        google.script.run.withSuccessHandler(showData).getData();
    }

    function populateHTMLwith(headerList) {
        var html = "Which language?<br>"

        for (var currentHeader = 1; currentHeader < headerList.length; currentHeader++) {
            let checked = (currentHeader == 1) ? "checked" : ""
            html = html + "<input class=\"w3-radio\" type=\"radio\" name=\"language\" value="+ currentHeader +" "+ checked+ ">" + titleCase(headerList[currentHeader]) + "&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;"
        }
        document.getElementById("language").innerHTML = html;
    }

    function showData(data) {
        var selectedPlatformRadio = getRadioValueBy("platform") || 1
        var selectedPlatform = selectedPlatformRadio == 1 ? "iOS" : "Android";
        var result = getFormattedData(data, selectedPlatform);
        google.script.run.saveResult(result, selectedPlatform);
        console.log(result)
        document.getElementById("copyData").innerHTML = result;
    }

    function getFormattedData(data, selectedPlatform) {
        var d = new Date();
        var STRING_ID = 0
        var STRING_LANGUAGE = getRadioValueBy("language") || 1
        var output = ""
        if (selectedPlatform == "iOS") {
            //iOS
            output = "// Last updated: " + d.toLocaleString() + "<br>"
            for (var currentRow = 1; currentRow < data.length; currentRow++) {
                var name = data[currentRow][STRING_ID]
                var value = data[currentRow][STRING_LANGUAGE]
                value = backSlashAndQuoteReplace(value)
                value = iOSParamsReplace(value)
                if (value.length > 0 && name.length > 0) {
                    // "key" = "value"; <br>
                    output = output + "\"" + name + "\" = \"" + value + "\";"
                    output = output + "<br>"
                } else if (name.length > 0) {
                    //<br> Comment <br>
                    output = output + "<br>" + name + "<br>"
                } else {
                    output = "EMPTY" + "<br>"
                }
                output = output + "<br>"
            }
        } else {
            //Android
            var lessThanString = "&#60;"
            var greaterThanString = "&#62;"
            var newLineString = "<br>"
            var gtnewLineString = greaterThanString + newLineString

            var output = lessThanString + "resources" + gtnewLineString
            output += lessThanString + "!-- Last updated: " + d.toLocaleString() + " --"+gtnewLineString

            var withinMultiLine = false
            for (var currentRow = 1; currentRow < data.length; currentRow++) {
                var currentValue = data[currentRow][STRING_ID]
                var isEndOfMultiLine = isEndOfMultiLineComment(currentValue)
                var isStartOfMultiLine = isStartOfMultiLineComment(currentValue)

                if (currentValue.length > 0) {
                    if (isEndOfMultiLine || withinMultiLine || isStartOfMultiLine) {
                        if (isStartOfMultiLine) {
                            withinMultiLine = true
                            output += "&#60;!-- "
                        }

                        output += data[currentRow][1] + "<br>"

                        if (isEndOfMultiLine) {
                            withinMultiLine = false
                            output += " --&#62;<br>"
                        }
                    } else if (isSingleLineComment(currentValue)) {
                        output += xmlCommentTag(data[currentRow][0]) + "<br>"
                    } else {
                        output += stringTag(androidStringClean(data[currentRow][STRING_ID]), data[currentRow][STRING_LANGUAGE]) + "<br>"
                    }
                }
            }
            output += lessThanString + "/resources" + gtnewLineString
        }
        return output;
    }

    function getRadioValueBy(name) {
        var radios = document.getElementsByName(name);
        var value;
        for (var i = 0; i < radios.length; i++) {
            if (radios[i].type === 'radio' && radios[i].checked) {
                // get value, set checked flag or do whatever you need to
                return radios[i].value;
            }
        }
        return ""
    }


    function copyToClipboard(element) {
        var text = $(element).clone().find('br').prepend('\r\n').end().text()
        element = $('<textarea>').appendTo('body').val(text).select()
        document.execCommand('copy')
        element.remove()
        displayDone()
    }

    function isSingleLineComment(textValue) {
        return textValue.indexOf("//") == 0
    }

    function isStartOfMultiLineComment(textValue) {
        return textValue.indexOf("/*") == 0
    }

    function isEndOfMultiLineComment(textValue) {
        return textValue.indexOf("*/") == 0
    }

    function androidStringClean(name) {
        return name.replace(/\./g, ".")
    }

    function backSlashAndQuoteReplace(name) {
        var text = name.replace(/\\/, "{slash}");
        text = text.replace(/"/g, "{doublequote}");
        text = text.replace(/{doublequote}/g, '\\"');
        return text.replace(/{slash}/g, '\\\\');
    }

    function iOSParamsReplace(name) {
        var text = name.replace(/{string}/, "%@");
        return text.replace(/{number}/, "%@");
    }

    function androidParamsReplace(name) {
        var text = name.replace(/{string}/, "$s");
        return text.replace(/{number}/, "$d");
    }

    function xmlCommentTag(comment) {
        var fixedComment = comment
        if (fixedComment.indexOf("//") == 0) {
            fixedComment = comment.substring(2)
        }

        return "<br>    &#60;!-- " + fixedComment + " --&#62;"
    }

    function stringTag(name, value) {
        var v = backSlashAndQuoteReplace(value)
        v = androidParamsReplace(v)
        return "    &#60;string name=\"" + name + "\"&#62;" + "\"" + v + "\"" + "&#60;/string&#62;"
    }

    function titleCase(str) {
      var newstr = str.split(" ");
      for(i=0;i<newstr.length;i++){
        if(newstr[i] == "") continue;
        var copy = newstr[i].substring(1).toLowerCase();
        newstr[i] = newstr[i][0].toUpperCase() + copy;
      }
       newstr = newstr.join(" ");
       return newstr;
    }  
    
    function displayDone(){
        $(".done").fadeIn().delay(3000).fadeOut();
    }
</script>
